@import '~vuetify/src/stylus/main'

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
}

.toasted-container {
  width: 300px;
  margin: 24px;
}

.toasted-container.bottom-left {
  left: 0 !important;
  bottom: 0 !important;
}

.toasted.primary.error {
  background-color: #dd2c00 !important;
}

.toasted.primary.success {
  background-color: #00e676 !important;
}

.toasted.primary.info {
  background-color: #26a69a !important;
}